[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
"flake8" = "*"
jinja2 = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true