{% extends "base.html" %}
{% block content %}
<div id="todo-list-example">
  <form v-on:submit.prevent="addNewTodo">
    <div class="form-row">
    <div class="col-10">
      <input class="form-control"
              v-model="newTodoText"
              id="new-todo"
              placeholder="Learn Selenium"
      >
    </div>
    <div class="col-2">
      <button type="submit" id="todo-submit" class="btn btn-dark">Submit</button>
    </div>
  </div>
  </form>
  <br>
  <ul class="list-group">
    <li class="list-group-item"
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo.id"
      v-bind:title="todo.title"
      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>
</div>
<script>
Vue.component('todo-item', {
    props: ['title'],
    template: `
    <li class="list-group-item">
        <button v-on:click="$emit('remove')" class="btn btn-dark">Remove</button>
        {% raw %}{{title}}{% endraw %}
    </li>
  `
});

new Vue({
  el: '#todo-list-example',
  data: {
    newTodoText: '',
    todos: [
      {
        id: 1,
        title: 'Run the project',
      },
      {
        id: 2,
        title: 'Start Selenium Tests',
      },
      {
        id: 3,
        title: 'Enjoy'
      }
    ],
    nextTodoId: 4
  },
  methods: {
    addNewTodo: function () {
      this.todos.push({
        id: this.nextTodoId++,
        title: this.newTodoText
      });
      this.newTodoText = ''
    }
  }
});
</script>
{% endblock %}